html {
    font-family: 'Courier New', Courier, monospace;
    background: #948297;
    padding-top: 4em;

}

h1{
    height: 40px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contactMe{
    display: flex;
    justify-content:center;
}
img{
    border-radius: 20px;
}
img:hover{
    rotate: 5deg;
}
#coFrame{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
#copilotBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 210px;

}

.self{
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 18px;
}
.skills{
    justify-content: center;
}
.tab{
    padding-left: 20px;
}
nav{
    margin: 30px;
    margin-left: 180px;
    padding: 10px;
}
.dropbtn {
    margin-left: 20px;
    padding: 20px;
    border: none;
    background: #826287;
    border: 1px solid white;
    color: #fff2df;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    padding: 1px;

  }
  .dropdown-content {
    color: #fff2df;
    background-color: #6d4a72;
    margin-left: 20px;
    font-size: 1em;
    display: none;
    position: absolute;
    min-width: 210px;
    box-shadow: 0px 4px 12px 2px #433045;
    z-index: 1;
  }
 .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
a{
    color: white;
    text-decoration: none;

}
a:visited{
    color: #fde1c4;
}
.dropdown-content a:hover {
    background-color:#a370ab;
    font-size: 16px;
    letter-spacing: 5px;

}
 
.dropdown:hover .dropdown-content {
    display: block;
    letter-spacing: 2px;
}

.dropdown:hover .dropbtn {
    background-color: #a370ab;
    letter-spacing: 2px;
}