main{
    width: auto;
	height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
	padding-bottom: 50px;
}
.diabetesRow1{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
}
.diabetesRow2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;

}
.box{
    text-align: left;
    height: 80%;
    border-radius: 30px;
    padding: 20px;
}
.pBox{
    color: grey;
    font-size: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    height: 300px;
    border: 1px solid rgb(175, 170, 170);
    border-radius: 30px;
}
.bigBox{
    color: grey;
    font-size: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
    border: 1px solid rgb(175, 170, 170);
    border-radius: 30px;
}
.sugarBox{
    font-size: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 300px;
    border-radius: 30px;
}